<div class="col-md-4">
	<div class="panel text-center">
		<div class="panel-heading">
			<h4 class="price__title">{{ trans( req, uid ~ '_header' ) }}</h4>
			<h1 class="price__ammount">
				&#36;<span class="price__ammount--number">{{ trans( req, uid ~ '_amount' ) }}</span> &#47;<span>{{ trans( req, uid ~ '_per' ) }}</span>
			</h1>
		</div>
		<div class="panel-body">
			<p>{{ trans( req, uid ~ '_text' ) }}</p>
		</div>
		<div>
			<a class="panel__button" href="#">{{ trans( req, 'get_this_plan' ) }}</a>
		</div>
	</div>
</div>
