<section class="about">
	<div class="container">
		<div class="page-section">
			<div class="text-center">
				<h2 class="page-section__title">{{ trans( req, 'about_title' ) }}</h2>
				<p class="page-section__paragraph">{{ trans( req, 'about_slogan' ) }}</p>
			</div>
			<div class="row gutters-50">
				<div class="about--narrow">
					<div class="col-md-6">
						{{ img( req, 'about', 'img-responsive', 556, 391 ) }}
					</div>
					<div class="col-md-6 about__extra-padding">
						<h3 class="about__content-title">{{ trans( req, 'about_header' ) }}</h3>
						<p class="about__content-subTitle">{{ trans( req, 'about_text1' ) }}</p>
						<p class="about__content-paragraph"">{{ trans( req, 'about_text2' ) }}</p>
						<a class="button--light" href="#">{{ trans( req, 'about_read_more' ) }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
