<div class="admin-panel">
	<span class="label">Admin mode enabled</span>
	<nav class="tools2">
		<span class="error"></span>
		<span class="a save disabled">Save</span>
		<a class="logout" href="/logout">Log out</a>
	</nav>
	<nav class="tools">
		<span data-tool="pageedit">Edit page</span>
		<span data-tool="settings">Settings</span>
	</nav>
	<div class="clear"></div>
	<div class="controls">
		<div class="collection">
			<span class="add">+</span>
			<span class="delete">X</span>
		</div>
		<div class="img left">
			<form id="upload-photos" class="upload" method="post" action="/upload_photos" enctype="multipart/form-data">
				<div class="image-upload">
				    <label>
					    <input id="photos-input" type="file" name="photo"/>
				    </label>
				</div>
			</form>
			<div class="size"></div>
		</div>
		<div class="section">
			<div class="left">
				<span class="name"></span>
			</div>
			<div class="right">
				<label>
					<input type="checkbox" name="enabled"/> Enabled
				</label>
				<label>
					<input type="checkbox" name="show_in_menu"/> Show in top menu
				</label>
				<label>
					<input type="checkbox" name="show_in_footer"/> Show in footer
				</label>
				<span class="move up">Move up</span>
				<span class="move down">Move down</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="settings editable" data-tool="settings">
		<div class="inner">
			<table>
			{% for setting in editsettings %}
				<tr data-setting="{{ setting.key }}">
					<td class="key">
						{{ setting.key }}
						{% if setting.translatable %}
						<label class="trans">
							<input type="checkbox"{% if setting.value is iterable %} checked{% endif %}/>T
						</label>
						{% endif %}
					</td>
					<td class="value">
					{% if setting.key == 'mail_settings' %}
						<div class="active">
							<div><span>Service:</span> <select name="service"><option name="gmail" selected>GMail</option></select></div>
							<div><span>Username:</span> <input type="text" name="user" value="{{ setting.value.auth.user }}"/></div>
							<div><span>Password:</span> <input type="text" name="pass" value="{{ setting.value.auth.pass }}"/></div>
						</div>
					{% else %}
						<div class="lang multi{% if setting.value is iterable %} active{% endif %}">
							{% for lang, label in languages %}
								<span>{{ label }}:</span><input type="text" name="{{ setting.key }}[{{ lang }}]" value="{{ setting.value[ lang ] }}"/><br />
							{% endfor %}
						</div>
						<div class="lang single{% if not setting.value is iterable %} active{% endif %}">
							<input type="text" name="{{ setting.key }}" value="{% if not setting.value is iterable %}{{ setting.value }}{% endif %}"/>
						</div>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
			<button class="submit disabled" disabled>Save</button>
		</div>
	</div>
</div>
