{% if not custom_tag %}
	{% set custom_tag = 'div' %}
{% endif %}

<{{ custom_tag }} {{ collection( req, collections[ type ], type ) }} class="collection">
	{% if not norow %}
		<div class="row {{ rowclass }}">
	{% endif %}
		{% for i, object in collections[ type ] %}
			{% if not maxobjects or i < maxobjects %}
			
				{% if false and rowobjects %}
					{% if i % rowobjects == 0 %}
						</div>
						<div class="row {{ rowclass }}">
					{% endif %}
				{% endif %}
				
				{% include '../parts/objects/' ~ type ~ '.html.twig' with { 'id' : object.id, 'cls' : 'object', 'uid' : type ~ '_' ~ object.id } %}
				
			{% endif %}
		{% endfor %}
		{% if is_admin %}
			{% include '../parts/objects/' ~ type ~ '.html.twig' with { 'cls' : 'objecttemplate', 'uid' : 'TEMPLATE' } %}
		{% endif %}
	{% if not norow %}
		</div>
	{% endif %}
</{{ custom_tag }}>