<footer class="footer footer--bg">
	<div class="container">
		<div class="page-section">
			<div class="row gutters-100">
				<div class="col-md-4 col-lg-3">
					<div class="footer__first">
						<h2 class="footer__title">{{ trans( req, 'footer_site_brand' ) }}</h2>
						<p class="footer-first__paragraph">{{ trans( req, 'footer_left_text' ) }}</p>
						<ul class="footer-first__social-icons">
							<li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
							<li><a href="#"><i class="flaticon-twitter-logo"></i></a></li>
							<li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
							<li><a href="#"><i class="flaticon-behance-logo"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-2">
					<div class="footer__second">
						<h2 class="footer__title">{{ trans( req, 'footer_quick_link' ) }}</h2>
						<ul>
							<li><a href="#home">{{ trans( req, 'footer_home' ) }}</a></li>	
							{% for section, data in sections %}
								{% if data.show_in_footer %}
									<li><a href="#{{ section }}">{{ trans( req, 'footer_' ~ section ) }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="footer__third">
						<h2 class="footer__title">{{ trans( req, 'footer_contact_us' ) }}</h2>
						<ul>
							<li><span class="glyphicon glyphicon-envelope"></span> <a
								href="mailto:{{ settings.email }}">{{ settings.email }}</a></li>
							<li><span class="glyphicon glyphicon-earphone"></span> <a
								href="tel:{{ settings.phone }}">{{ settings.phone }}</a></li>
						</ul>
						<h4 class="footer__subscribe__title">{{ trans( req, 'footer_subscribe' ) }}</h4>
						<div class="subscribe-section">
							<input type="email" class="form-control" size="50"
								placeholder="{{ trans( req, 'footer_subscribe_enter_your_email' ) }}" required>
							<button class="subscribe-section__button" type="button">
								<img src="img/send-icon.png" alt="">
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="footer__fourth">
						<h4 class="footer__title">{{ trans( req, 'footer_instagram' ) }}</h4>
						<div class="row">
							<ul>
								<li>{{ img( req, 'instagram_1', '', 102, 80 ) }}</li>
								<li>{{ img( req, 'instagram_2', '', 102, 80 ) }}</li>
								<li>{{ img( req, 'instagram_3', '', 102, 80 ) }}</li>
							</ul>
						</div>
						<div class="row">
							<ul>
								<li>{{ img( req, 'instagram_4', '', 102, 80 ) }}</li>
								<li>{{ img( req, 'instagram_5', '', 102, 80 ) }}</li>
								<li>{{ img( req, 'instagram_6', '', 102, 80 ) }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<hr class="footer__horizontal-bar">
			<p class="footer__bottom-paragraph">{{ trans( req, 'footer_copyright' ) }}</p>
		</div>
	</div>
</footer>
