<a id="home"></a>
<header class="header header--bg">
	<div class="container">
		<nav class="navbar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="languages">
					{% for lang, label in languages %}
						<a href="/{{ lang }}" {% if lang== language %} class="active"{% endif %}>
							{{ label }}
						</a>
					{% endfor %}
				</div>
				<a class="navbar-brand" href="#">{{ trans( req, 'site_brand' ) }}</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav pull-right">
					{# <li><a href="#home">{{ trans( req, 'menu_home' ) }}</a></li> #}
					{% for section, data in sections %}
						{% if data.show_in_menu or req.is_admin %}
							<li data-menu="{{ section }}"{% if not data.show_in_menu %} class="disabled"{% endif %}><a href="#{{ section }}">{{ trans( req, 'menu_' ~ section ) }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</nav>
		{{ img( req, 'main_logo', 'logo', 300, 237 ) }}
		<div class="header__content text-center">
			<h1 class="header__content__title">
				{# {{ trans( req, 'site_title' ) }} #}
			</h1>
			<p class="header__content__paragraph">{{ trans( req, 'site_description' ) }}</p>
			<a class="button button--margin-right button--hover" href="#">{{ trans( req, 'learn_more' ) }}</a> <a class="button button--hover" href="#">{{ trans( req, 'purchase' ) }}</a>
		</div>
	</div>
</header>
